/*---- BIO STYLES ---*/
.left-image{float:left; width:25%;}
.right-content{float:right; width:70%;}

.left-image-flipped{float:right; width:25%;}
.right-content-flipped{float:left; width:70%;}

.right-content h4{padding-bottom:.5em;}
.bio-container{clear:both; padding:1em 1em 1em 0;}
.bio-social{ margin:1em 1em 1em 0; }
.bio-social-text{padding:.75em;font-size: 1.15em;}
.bio-social-icons{font-size:2em;}
ul.bio-social-icons{margin:0!important;}
.bio-social-icons li{float:left;list-style: none; padding:.5em;}

@media screen and (max-width: 700px) {
.left-image, .left-image-flipped{float:left; width:60%;margin:0 20% 1em 20%;}
.right-content, .right-content-flipped{float:left; width:100%;}
}

/*--- CALL TO ACTION STYLES  ---*/
.cta-container{margin:1em 0;}

.cta-feature-container{background:#000000; height:200px; width:200px; float:left; shape-outside:circle(50%);padding:0 3em 3em 0;border-radius:50%; 
	margin:0 3em 3em 0;}

.cta-inner-feature{height:200px; width:200px; shape-inside:circle(50%);padding:0 2em 2em 0;border-radius:50%; margin:1em;hyphens:auto;text-align:center;overflow:hidden;display: flex;justify-content: center;align-items: center; justify-content: center;}

.cta-feature-message{display: inline-block;vertical-align: middle;line-height: normal;font-size:2em;}