/*---------------- HOME PAGE THREE FOCUS ITEMS ---------------------------------------------*/
.clear.focus-group {padding-bottom: 1em;border-top:solid 1px $goldColor;border-bottom:solid 1px $goldColor;}

ul.three-focus-items{margin:0; padding:0; list-style:none;}
ul.three-focus-items > li{float:left; margin:0 1em; width:calc(33% - 2em); text-align:center;font-size:1.05em;-webkit-border-radius: 25px;
border-radius: 25px;}
ul.three-focus-items > li a:hover{text-decoration: none;}
.three-focus-items .focus-icon{padding:0;width:36%; margin:.5em 32% 0 32%;} 
.three-focus-items .focus-icon img{width:100%;}
.three-focus-items .focus-icon img:hover{}
.inner-focus-item h3{background-color:transparent; border:none; margin:.5em 0; padding:.5em; color:$goldColor; font-size:1em;
margin:0;}
.inner-focus-item h3:hover, .inner-focus-item a h3:hover{text-decoration:underline!important;}
.three-focus-items p{margin:0;line-height:1.25em;color:black; font-weight:normal;}
.feature-icon { margin-top: 1em;display:block; width:80%;margin:1em 10%;}
.feature-icon img{-webkit-border-radius: 15px;border-radius: 15px;border:solid 1px $goldColor;width:100%; height:auto;}
.feature-content{margin-top: .75em;display:block; width:80%;margin:0 10% 1em 10%;}
.feature-content h3 {margin: 0;padding: 0;}
.inner-focus-item{width:85%; margin:0 auto; text-align:left;padding-bottom:1em;}
@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 850px) {
ul.three-focus-items > li{float:left; margin:0 2em; width:calc(100% - 4em); text-align:center;}
.three-focus-items .focus-icon{padding:1.5em;width:50%; margin:0 25%;-webkit-border-radius: 50% 50% 505 50%;
border-radius: 50% 50% 50% 50%; margin-top:0em;} 
.feature-icon { margin-top: 1em;float:left; width:48%;margin:1em 0;}
.feature-icon img{width:80%; max-width:300px; margin:0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}
.feature-content{float:right; width:48%; margin:1em 0;}

}
@media screen and (max-width: 600px) {
ul.three-focus-items > li{float:left; margin:0; width:100%; text-align:center; padding-top:1em;}	
.three-focus-items .focus-icon{padding:1.25em;width:50%; margin:0 25%;-webkit-border-radius: 50% 50% 505 50%;
border-radius: 50% 50% 50% 50%; margin-top:0;} 

}
@media screen and (max-width: 400px) {
.feature-icon { margin-top: 1em;display:block; width:80%;margin:1em 10%;}
.feature-content{margin-top: .75em;display:block; width:80%;margin:0 10% 1em 10%;}	
.three-focus-items .focus-icon{padding:1.25em;width:80%; margin:0 10%;-webkit-border-radius: 50% 50% 505 50%;
border-radius: 50% 50% 50% 50%; margin-top:0;background-color:transparent!important;} 
.three-focus-items p { margin: .25em; line-height: 1.25em;}
}
@media screen and (max-width: 300px) {
.three-focus-items .focus-icon{padding:1em;width:80%; margin:0 10%;-webkit-border-radius: 50% 50% 505 50%;
border-radius: 50% 50% 50% 50%; margin-top:0;background-color:transparent!important;} 
.three-focus-items p { margin: .25em; line-height: 1em;}
.three-focus-items h3{margin:0;}
}
ul.three-focus-items{padding-top:3em;}
		@supports (display: grid) {

		ul.three-focus-items {padding-top:0;display: grid;grid-gap: 1em;  grid-template-columns: repeat(3, 1fr); color: #444;margin:2.5em auto; max-width:1400px; }
		ul.three-focus-items > li {margin: 0 1em; width: auto;text-align: center;font-size: 1.05em; background-color: rgba(255, 255, 255, .85);}
			
			@media screen and (max-width: 850px) {
				ul.three-focus-items {display: grid;grid-gap: 10px;  grid-template-columns: repeat(1, 1fr); color: #444; }
			}

		}
ul.three-focus-items > li { background-color: rgba(255, 255, 255, .85);}
.page-template-page-home #page { padding:0;-webkit-border-radius: 25px;background-color: rgba(255, 255, 255, .85);
border-radius: 25px;max-width:1375px;}
.page-template-page-home #main{padding:1em 2em;}
.page-template-page-home #content{background:transparent;}

