/*---- BIO STYLES ---*/
.left-image{float:left; width:25%;}
.right-content{float:right; width:70%;}

.left-image-flipped{float:right; width:25%;}
.right-content-flipped{float:left; width:70%;}

.right-content h4, .right-content-flipped h4{padding-bottom:.5em;}
.bio-container{clear:both; padding:1em 1em 1em 0;}
.bio-social{ margin:1em 1em 1em 0; }
.bio-social-text{padding:.75em;font-size: 1.15em;}
.bio-social-icons{font-size:2em;}
ul.bio-social-icons{margin:0!important;}
.bio-social-icons li{float:left;list-style: none; padding:.5em;}

@media screen and (max-width: 700px) {
.left-image, .left-image-flipped{float:left; width:60%;margin:0 20% 1em 20%;}
.right-content, .right-content-flipped{float:left; width:100%;}
}