/*--- CALL TO ACTION STYLES  ---*/

.cta-container{margin:1em 0;}

.cta-feature-container{background:#000000; height:200px; width:200px; float:left; shape-outside:circle(50%); padding:0 2em 2em 0; border-radius:50%; 
	margin:0 3em 3em 0;}

.cta-inner-feature{height:200px; width:200px; shape-inside:circle(50%);padding:0 2em 2em 0;border-radius:50%; margin:1em;hyphens:auto;text-align:center;
	overflow:hidden;display: flex; justify-content: center; align-items: center; }

.cta-inner-feature:hover{transform: rotate(-2.5deg); /* Equal to rotateZ(45deg) */}


.cta-feature-message{display: inline-block; vertical-align: middle; line-height: normal; font-size:1.5em;font-weight: bold;}

.cta-feature-message a:hover{text-decoration: underline;}



.cta-feature-container-flipped{background:#000000; height:200px; width:200px; float:right; shape-outside:circle(50%); padding:0; border-radius:50%; 
	margin:0 0 3em 3em;}

.cta-inner-feature-flipped{height:200px; width:200px; shape-inside:circle(50%);padding:0 1em;border-radius:50%; margin:0; hyphens:auto;text-align:center;
	overflow:hidden;display: flex; justify-content: center; align-items: center; }
.cta-inner-feature-flipped:hover{transform: rotate(2.5deg); /* Equal to rotateZ(45deg) */}

@media screen and (max-width: 400px) {
.cta-feature-container{margin: 0 12em 3em 0;}
.cta-feature-container-flipped{margin:0 0 3em 12em;}

	}