/*--- THE HERO IMAGE ---*/
.hero-image {display:block;height:40vh;/*set an height *//* line-height:200px;*/ /*set the baseline at 100px from top*/ overflow:hidden;/* crops/cut off */
    position:relative;}
.hero-image img {position: relative;margin: -50% auto;/* virtualy height needed turn don to zero */width: 100%;/* height will follow within image ratio */
    height:auto;/* to overrride attribute height set in tag */vertical-align:middle;/* finalise vertical centering on baseline*/}
.hero-caption-link {position: absolute;top:70%; background: rgba(255, 255, 255, 0.5);width: 100%;text-align: center;}
.hero-caption-link h4{padding:1em 0; color:#0d1a26; font-weight: bold; font-style: italic; font-size: 1.25em;}
.hero-caption-link h4 a{color:#0d1a26;}
.hero-caption-link h4 a:hover{text-decoration: underline;}
@media screen and (max-width: 800px) {
	.hero-image img {transform: scale(1.75);transform-origin: 50% 50%;}
}
@media screen and (max-width: 500px) {
	.hero-image img {transform: scale(2.25);transform-origin: 50% 50%;}
}
@media screen and (max-width: 350px) {
	.hero-image img {transform: scale(2.75);transform-origin: 50% 50%;}
}