/*---------------- HOME PAGE THREE FOCUS ITEMS ---------------------------------------------*/
.triptych-section{padding:1em 0;}

.clear.focus-group {padding-bottom: 1em;}

.inner-focus-item{width:100%; margin:0 auto; text-align:left;padding:1em 0;
-webkit-border-radius: 10px;border-radius: 10px;}
.focus-item-content{width:calc(100% - 2em);margin:0 auto;text-align:center;background-color:rgba(255,255,255,.9);height:100%;position: relative;}

.focus-item-content h3, .focus-item-content h3 a{color:#000000;}

.focus-item-content h3:hover{text-decoration: none!important;}

.focus-item-content h4{position: absolute;display: block;bottom:0; width:100%; padding:.5em 0;margin-bottom:0;}
.focus-item-content h4:hover{text-decoration: none!important;}
.focus-item-content h4 a{color:#ffffff;}

.focus-item-content h4 a:hover{text-decoration: underline!important;}


.focus-item-excerpt{padding:0 1em 4em 1em; text-align:left;}
ul.three-focus-items{margin:0; padding:0; list-style:none;}
ul.three-focus-items > li{float:left; margin:0; width:calc(33% - 2em); text-align:center;font-size:1.05em;-webkit-border-radius: 25px;
border-radius: 25px;}
ul.three-focus-items > li a:hover{text-decoration: none;}
.three-focus-items .focus-icon{padding:0;width:36%; margin:.5em 32% 0 32%;} 
.three-focus-items .focus-icon img{width:100%;}
.three-focus-items .focus-icon img:hover{}
.inner-focus-item h3{background-color:transparent; border:none; padding:.25em; color:#000000; font-size:1.75em;font-weight: normal; 
letter-spacing:.1em;margin:0;}

.inner-focus-item h3 a:hover{text-decoration:underline!important;}


.three-focus-items p{margin:0;line-height:1.25em;color:black; font-weight:normal;}

.feature-icon { margin-top: 1em;display:block; width:80%;margin:1em 10%;}
.feature-icon img{-webkit-border-radius: 15px;border-radius: 15px;border:solid 1px $goldColor;width:100%; height:auto;}
.feature-content{margin-top: .75em;display:block; width:80%;margin:0 10% 1em 10%;}
.feature-content h3 {margin: 0;padding: 0;}

@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 850px) {
ul.three-focus-items > li{float:left; margin:0 2em; width:calc(100% - 4em); text-align:center;}
.feature-icon { margin-top: 1em;float:left; width:48%;margin:1em 0;}
.feature-icon img{width:80%; max-width:300px; margin:0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}
.feature-content{float:right; width:48%; margin:1em 0;}

}
@media screen and (max-width: 600px) {
ul.three-focus-items > li{float:left; margin:0; width:100%; text-align:center; padding-top:1em;}	
}
@media screen and (max-width: 400px) {
.feature-icon { margin-top: 1em;display:block; width:80%;margin:1em 10%;}
.feature-content{margin-top: .75em;display:block; width:80%;margin:0 10% 1em 10%;}	
.three-focus-items p { margin: .25em; line-height: 1.25em;}
}
@media screen and (max-width: 300px) {
.three-focus-items p { margin: .25em; line-height: 1em;}
.three-focus-items h3{margin:0;}
}
ul.three-focus-items{padding-top:1em;}

		@supports (display: grid) {

		ul.three-focus-items {padding-top:0;display: grid;grid-gap: 1em;  grid-template-columns: repeat(3, 1fr); color: #444;margin:.5em auto; max-width:1400px;
		grid-auto-rows: auto; }
		ul.three-focus-items > li {margin:0; width: auto;text-align: center;font-size: 1.05em; background-color: rgba(255, 255, 255, .85);}
			
			@media screen and (max-width: 850px) {
				ul.three-focus-items {display: grid;grid-gap: 10px;  grid-template-columns: repeat(1, 1fr); color: #444; }
			}

		}

ul.three-focus-items > li { background-color: rgba(255, 255, 255, .85);display:grid;}
.page-template-page-home #page { padding:0;background-color: rgba(255, 255, 255, .85);
border-radius: 25px;max-width:1375px;}
.page-template-page-home #main{padding:1em 2em;}
.page-template-page-home #content{background:transparent;}

		@supports (display: grid) {

		ul.four-focus-items {padding-top:0;display: grid;grid-gap: 1em;  grid-template-columns: repeat(2, 1fr); color: #444;margin:.5em auto; max-width:1400px;
			grid-auto-rows: auto; }
		ul.four-focus-items > li {margin:0 auto; width: auto;text-align: center;font-size: 1.05em; background-color: rgba(255, 255, 255, .85); width:75%;display:grid;}
			
			@media screen and (max-width: 850px) {
				ul.four-focus-items {display: grid;grid-gap: 10px;  grid-template-columns: repeat(1, 1fr); color: #444; }
			}

		}
		