/*--header region --*/
#full-top{border-bottom:solid 2px $goldColor;  width:100%; position:fixed; z-index:999;
/*background-color:$darkBrownColor; background-image:url(./images/mesaland.jpg);  background-repeat:no-repeat;  background-position:center top; */}
#upper-band{ width:100%; z-index:1; height:155px;overflow-y:hidden;}
#upper-band img{width:100%; min-height:100%;}
.masthead-holder{ width:100%;  max-width:1400px;margin:0 auto;top:0;background:transparent;  padding:0 2em; /*height:200px;*/}
#masthead{ max-width:1200px;background-color:transparent;padding-top:.25em; /*top:2em;*/ color:$blackColor;position:absolute;z-index:999;}
#masthead .site-branding{margin:0}
.site-header{ width:100%;z-index:999;color:#000}
#left-head{float:left;margin-top:1.25em;margin-left:1.5em;}
#left-head-1{float:left;width:250px}
#left-head-2{ float:left; margin-left:0;}
#right-head{float:right;}
#right-head .social .icon-text{font-size:1.25em; margin-right:.5em;font-family:$titleFont;display:block;line-height:1.5em;}
ul.top-social-icons{padding:.75em 0 0 0;margin:0;float:right;}
#right-head .top-social-icons li{list-style:none;float:left;margin-right:1.5em;font-size:1.5em;}
#right-head .social{float:right;width:100%;}
#right-head .social a{color:$whiteColor;}
#right-head .social a:hover{color:$lightBlueColor;text-decoration:none;}

@media (max-width:1300px){ 
#right-head {float: left;padding-left:2em;}	
}

@media (max-width:1100px){ 
#right-head {float: left;padding-left: 2em;width: calc(100% - 300px);}	
ul.top-social-icons {float: left;}
#upper-band{ width:100%; z-index:1; height:210px;overflow-y:hidden;}
h2.masthead-info {font-size: 1em; margin-top: 0;}
}

@media (max-width:900px){ 
.site-branding h1.site-title, h2.masthead-info{display:block;}	
}

@media (max-width:825px){  
#left-head {float: left; margin-top: 0;}	
#upper-band {height: 210px;}	
.site-branding h1.site-title {font-size: 1.25em;}	
h2.masthead-info {font-size: 1em; padding-right:2em;}
}

@media screen and (max-width:725px){ 
#masthead {padding-top: 2em;}
#left-head-1 {float: left;width: 100px;padding:.5em;}
#left-head {float: left;width: calc(75% - 10px);margin-left:0;}
#right-head{width: calc(75% - 10px); padding-left:.5em;}
#right-head .social {margin-left:.5em;}	
#right-head .social .icon-text {display: block;}
.site-branding h1.site-title {font-size: 1.25em;display: block;position: relative; }

h2.masthead-info {margin-top:.5em; margin-left: .5em;font-size: 1em;}
#right-head .top-social-icons li {margin-right:1em;}
ul.top-social-icons {float: left;padding:0;}
#full-top{border-bottom:solid 2px $goldColor;  width:100%; position:relative; z-index:999;
/*background-color:$darkBrownColor; background-image:url(./images/mesaland.jpg);  background-repeat:no-repeat;  background-position:center top; */}
.main-navigation {clear: both; display: block; float: right; width: 100%; height: 2em; position: fixed; top: 0; left:0;background:#000000;}
#upper-band {height: 190px;}
}

@media (max-width:625px){ 
#upper-band {height: 190px;}
#masthead{left:0;}
#left-head {float: right;width: calc(100% - 160px);}
#right-head{width: calc(100% - 160px);float: right;}
}

@media (max-width:500px){ 
h2.masthead-info {margin-left: .5em;font-size: 1em;visibility: collapse;font-size: 0;}	

}

@media (max-width:450px){ 
.site-branding h1.site-title { font-size: 1em;}
#right-head .social .icon-text {
    font-size: 1.25em;



    line-height: 1em;
    padding-top: 1em;
}
}

@media (max-width:400px){ 
.site-branding h1.site-title { font-size: .75em;}	
.masthead-holder { padding: 0 .5em;}
#left-head, #right-head{float:left;}


h2.masthead-info {visibility: collapse;height: 0;}
}
@media (max-width:350px){ 
ul.top-social-icons {visibility: collapse;height: 0;}
#upper-band {height: 100px;}
}