$blackColor: #000000;
$whiteColor:#ffffff;
$greyColor:#cccccc;
$darkGreyColor:#666666;
$lightBlueColor:#00649c;
$darkBlueColor:#001f30;
$darkBrownColor:#322215;
$goldColor: #fadb27;/*-- actually yellow */
$redColor:#d30019;
$blueColor:#1349ad;
$greenColor:#298934;
$darkerRedColor:#d30019;


$defaultFont:Arial,Tahoma,Verdana;
$nerdFont:"Courier 10 Pitch",Courier,monospace;
$serifFont:'Cinzel', Georgia,Times,Times New Roman,serif;
$titleFont:Arial,Tahoma,Verdana;
